* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    padding: 1em;
}

.ah1 {
    font-size: 2em;
    position: relative;
    align-self: center;
    font-weight: 400;
    text-align: center;
    color: rgb(44, 44, 44);
    margin-bottom: 0;
}

#da {
    text-align: center;
    display: block;
    font-size: 1.3em;
}

.atext {
    text-align: center;
    line-height: 1.3em;
    padding: 10% 2% 10%;
}

#t1 {
    margin-top: 3%;
}

#t2 {
    margin-top: 1.5%;
}

#t3 {
    margin-top: 15%;
}

.img1 {
    width: 100%;
    height: 300px;
    margin: 0;
    border-radius: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img2 {
    height: 450px;
    width: 100%;
    margin: 0;
    border-radius: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media (max-width: 992px) {
    #t3 {
        margin-top: 10%;
        margin-bottom: 10%;
    }
    #t1 {
        margin-bottom: 2.5%;
    }
    #t2 {
        margin-bottom: 2%;
    }
    .img2 {
        height: 350px;
    }
}

.par {
    background-color: rgb(251, 206, 53);
    font-size: 1.3em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 2%;
}

.head {
    margin-top: 30px;
}

.aol {
    margin-top: 10px;
    list-style-type: upper-alpha;
}

.text2 {
    text-align: justify;
}
